apiVersion: v1
kind: Service
metadata:
  name: aster-server
  labels:
    app: aster
    component: server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: metrics
    protocol: TCP
  selector:
    app: aster
    component: server
---
apiVersion: v1
kind: Service
metadata:
  name: aster-server-lb
  labels:
    app: aster
    component: server
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: aster
    component: server
